<!doctype html>
<html>
  <head><title></title></head>
  <body>
    <h1>Add new Artist</h1>
    <form action="/artists" method="POST">
      <input type="text" name="artist_name">
      <input type="submit" value="Music!">
    </form>
  </body>
</html>